alabaster==0.7.10
amqp==2.2.2
aniso8601==3.0.2
appnope==0.1.0
arrow==0.10.0
asn1crypto==0.22.0
Babel==2.4.0
Beaker==1.9.0
beautifulsoup4==4.6.0
billiard==3.5.0.3
binaryornot==0.4.3
cairocffi==0.8.0
CairoSVG==2.1.1
celery==4.0.1
celery-haystack==0.10
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
contextlib2==0.5.5
cookiecutter==1.5.1
cookies==2.2.1
coreapi==2.3.3
coreschema==0.0.4
coverage==4.4.1
cryptography==2.0.3
cssselect2==0.2.1
cssutils==1.0.2
decorator==4.1.2
defusedxml==0.5.0
Django==1.11.13
-e git+https://github.com/tamhv/django-admin-bootstrapped@6e450196de4d3cfd11b4b45acf0d678f49f4414e#egg=django_admin_bootstrapped
django-appconf==1.0.2
django-autocomplete-light==3.2.9
django-autofixture==0.12.1
django-bootstrap-breadcrumbs==0.8.2
django-bootstrap3==9.0.0
django-braces==1.11.0
django-cacheops==3.2.1
django-celery-email==2.0.0
-e git+https://github.com/gooesoft/django-celery-results@1ff9090166252a8360c62a1303402753be24eebc#egg=django_celery_results
django-clear-cache==0.3
django-compat==1.0.14
django-configurations==2.0
django-constrainedfilefield==3.2.0
django-contrib-comments==1.8.0
django-debug-toolbar==1.8
django-decorator-include==1.4
django-djconfig==0.5.3
django-easy-pdf==0.2.0.dev1
django-extensions==1.8.1
django-extra-views==0.9.0
django-filter==2.1.0
django-formtools==2.0
django-fsm==2.6.0
-e git+https://github.com/gooesoft/django-fsm-log@cc03b6583a5cd0c8080aecbb21470e8e5a17b783#egg=django_fsm_log
django-graphql-jwt==0.2.1
django-haystack==2.6.1
django-hijack==2.1.4
django-hosts==2.0
django-infinite-scroll-pagination==0.2.0
django-ipware==2.1.0
django-localflavor==1.6.2
django-maintenance-mode==0.6.6
django-markdown2==0.3.0
django-model-utils==3.0.0
django-notifications-hq==1.3
-e git+https://github.com/tamhv/django-notifier@77b173e221dda1bb2d5b908f80e02d1291a9030f#egg=django_notifier
django-oidc-rp==0.2.0
django-ordered-model==1.4.3
django-phonenumber-field==1.3.0
django-qsessions==0.1.6
django-recurrence==1.5.0
django-redis==4.8.0
django-reversion==2.0.12
django-safedelete==0.4.5
django-sendfile==0.3.11
django-simple-history==1.9.0
django-speedinfo==1.3
-e git+https://github.com/gooesoft/Spirit@bfa111d2a308033c1932ee9e162755402439e3df#egg=django_spirit
-e git+https://github.com/gooesoft/django-summernote.git@d75b2058c40530a550c4d6d3a478f865f2d34d5a#egg=django_summernote
django-tables2==1.14.2
django-taggit==0.22.1
django-timezone-field==2.1
django-vanilla-views==1.0.4
django-webpack-loader==0.6.0
django-webtest==1.9.2
djangorestframework==3.8.2
docutils==0.14
et-xmlfile==1.0.1
fcm-django==0.2.16
first==2.0.1
flake8==3.4.1
flower==0.9.2
funcy==1.8
future==0.16.0
graphene==2.1.3
graphene-django==2.2.0
graphene-django-extras==0.4.3
graphene-file-upload==1.2.2
graphql-core==2.1
graphql-relay==0.4.5
hiredis==0.2.0
html5lib==0.999999999
idna==2.5
inflection==0.3.1
invoke==0.20.3
ipdb==0.10.3
ipython==6.1.0
ipython-genutils==0.2.0
itypes==1.1.0
jdcal==1.3
jedi==0.10.2
Jinja2==2.9.6
jinja2-time==0.2.0
jsonfield==2.0.2
kombu==4.1.0
Mako==1.0.7
Markdown==2.6.11
markdown2==2.3.4
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.7.4
model-mommy==1.3.2
oic==0.10.0.0
olefile==0.44
openapi-codec==1.3.2
openpyxl==2.4.9
pdfrw==0.4
pexpect==4.2.1
phonenumberslite==8.7.1
pickleshare==0.7.4
Pillow==4.2.1
pip-tools==1.9.0
poyo==0.4.1
promise==2.2.1
prompt-toolkit==1.0.15
psycopg2==2.7.3
ptyprocess==0.5.2
pycodestyle==2.3.1
pycparser==2.18
pycryptodomex==3.4.6
pyfcm==1.4.5
pyflakes==1.5.0
Pygments==2.2.0
pyjwkest==1.4.0
PyJWT==1.7.1
pynliner==0.8.0
pyOpenSSL==17.2.0
Pyphen==0.9.4
python-dateutil==2.6.1
python-magic==0.4.13
pytz==2018.4
raven==6.1.0
redis==2.10.5
requests==2.18.3
requests-toolbelt==0.8.0
responses==0.6.1
retrying==1.3.3
rules==1.2.1
Rx==1.6.1
selenium==3.5.0
simplegeneric==0.8.1
simplejson==3.15.0
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.2.3
testfixtures==5.1.1
tinycss2==0.6.1
tornado==4.5.2
traitlets==4.3.2
ua-parser==0.8.0
uni-slugify==0.1.4
unicode-slugify==0.1.3
Unidecode==0.4.21
uritemplate==3.0.0
urllib3==1.22
user-agents==1.1.0
vine==1.1.4
waitress==1.0.2
wcwidth==0.1.7
WeasyPrint==0.41
webencodings==0.5.1
WebOb==1.7.3
WebTest==2.0.28
whichcraft==0.4.1
whitenoise==3.3.0
Whoosh==2.7.4
xlrd==1.1.0
xlwt==1.2.0
